<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link href="css/home.css" rel="stylesheet">
    </head>
    <body>
        <div id='todo'>
            <header>
                <%= title%>
            </header>
            <form onsubmit="return onSubmitForm();" method="post" name="myform">
            <section id='todo-description'>
                <label for="description">DESCRIPTION</label>
                <input type="text" name="description" id="description" required placeholder="What do you need to do?">
            </section>
            <section id='todo-details'>
                <div>
                    <label for="todo-details-category">CATEGORY</label>
                     <select id="todo-details-category" name="category">
                         <option value="" disabled selected>Choose a category</option>
                         <option value="personal">Personal</option>
                         <option value="work">Work</option>
                         <option value="office">Office</option>
                         <option value="other">Other</option>
                    </select>
                </div>
                <div>
                    <label for="todo-details-date">DUE DATE</label>
                    <input type="date" name="date" value="" id="todo-details-date">
                </div>
            </section>

<%# buttons deciding what to be done %>

            <section id='todo-operations'>
                    <button id='todo-operations-add' type="submit" value="add"
                    onclick="document.pressed=this.value">
                    <i class="fas fa-plus"></i>
                    ADD TASK</button>
                    <button id='todo-operations-delete' type="submit" value="delete"
                    onclick="document.pressed=this.value">
                    <i class="fas fa-trash-alt"></i>
                    DELETE TASKS</button>
            </section>
            </form>
            <section id='todo-list'>
                <%for(todo of todo_list){%>
                <div class='todo-list-item'>
                    <div>
                     <div>
                      <input type="checkbox" value="<%= todo._id%>"> 
                     </div>
                     <div>
                         <div><%= todo.description%></div>
                         <div>
                             <i class="far fa-calendar-alt"></i>
                             <div><%= todo.date%></div>
                         </div>
                     </div>
                     </div>
                     <div>
                         <%= todo.category%>
                     </div>
                    </div>
                <% }%>
            </section>
        </div>
        <%# scripts %>
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous"></script>
<script src="./js/home.js">
</script>
    </body>
</html>

